@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #006dff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005dff; 
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav {
    display: grid;
    height: 80px;
    margin-top: 0px;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    position: fixed;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(74, 144, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 100;
}

nav .logo {
    padding: 0.5rem;
    height: 70px;
    width: 60px;
    overflow: hidden;
}

nav .logo img {
    height: 66px;
    object-fit: cover;

}

@media (max-width:700px) {
    nav {
        height: 70px;
    }

    nav .logo {
        width: 55px;
        height: 60px;
    }

    nav .logo img {
        height: 55px;
        width: auto;
        object-fit: cover;
    }
}

nav ul {
    margin: 0;
    padding: 0.5rem;
    top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    float: right;
    max-width: 90%;
}

nav .menu-btn {
    top: 0.5%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    display: none;
}

nav ul li ul {
    background-color: white;
    position: absolute;
    z-index: 10000;
    right: 10%;
    width: auto;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.7s ease;
}

nav ul li ul li {
    cursor: pointer;
}

nav ul li ul li:hover {
    background: #005dff;
    color: #fff;
}

nav ul li ul li:hover a {
    color: #fff;
}

ul li ul li a {
    color: #005dff;

}

#closebtn {

    all: initial;
    cursor: pointer;
    width: auto;
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

}

#closebtn:hover {
    border-radius: 20px;
    background-color: #005dff;
    color: #fff;
}

@media(max-width:800px) {
    nav .menu-btn {
        display: flex;
    }

    nav .logo {
        padding-top: 0.3rem;

    }
}

.menu-btn .burger1 {
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #fff;
}

.burger1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: 10px;
    background-color: #fff;
}

.burger1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: -10px;
    background-color: #fff;
}

@media (max-width:700px) {

    .menu-btn .burger1 {
        width: 35px;

    }


    .burger1::after {
        width: 35px;
        top: -8px;
    }

    .burger1::before {
        width: 35px;
        top: 8px;
    }
}

@media (max-width:800px) {
    nav ul {
        display: none;
    }
}

nav ul li {
    box-sizing: border-box;
    display: inline;
    margin: 0.5rem;
    padding: 0.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: clamp(14px, 1.2rem, 20px);
    border-radius: 0px;
    transition: 0.4s ease;

}

.active {
    border: 2px solid #fff;
}

nav ul li:hover {
    background-color: #fff;
    transition: 0.5s ease;
    border-radius: 50px;

}

ul li:hover a {
    color: #005dff;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}


.menu-overlay {
    top: 0;
    clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);

    -webkit-clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff6bb;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.menu-overlay #close {
    font-size: clamp(30px, 5vw, 10vw);
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    z-index: 100;
}

@media (min-width: 840px) {
    .menu-overlay #close {
        top: 20px;
        right: 75px;
    }
}

.menu-overlay ul {
    list-style-type: none;
}

.menu-overlay ul li {
    opacity: 1;
    text-align: center;
    margin-right: 10px;
    padding: 1rem;
    font-size: clamp(30px, 4vw, 70px);
    font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 1rem;
    width: 300px;
    text-decoration: none;
    color: #003899;
}

.menu-overlay ul a:hover {
    color: white;
    background-color: #003899;
    border-radius: 0.2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h1 {
    margin-top: 13vh;
    color: gray;
    padding: 1rem;
    box-sizing: border-box;
    font-size: clamp(30px, 2rem, 5vw);
    font-family: 'Nunito', sans-serif;

}

p {
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
}

/* for student views */
.student-card {
    background: #ffa;
    padding: 4rem;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
}

.card p {


    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.student-card .card {
    border-radius: 15px;
    background: #005dff;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.3rem;
}

.card img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    float: right;
    padding: 0.5rem;
}

.card h1 {
    width: auto !important;
    margin: 0.2rem;
    padding: 0.1rem;
    float: right;
    margin-top: 30px;
    font-size: clamp(25px, 2rem, 5vw);
    color: #fff;
}

#subtitle {
    float: right;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

@media (max-width:600px) {
    h1 {
        text-align: center;
    }

    .student-card {
        grid-gap: 2rem;
        padding-left: 3.5rem !important;
    }

    .student-card .card {
        padding-left: 1.5rem !important;
    }

    .card .student-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card p {


        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: clamp(0.7rem, 0.9rem, 1rem);
    }

    .card img {
        height: auto;
        width: 30%;
        object-fit: contain;
        text-align: center;
        float: none;
        padding: 0.5rem;
    }

    .card h1 {
        width: 100% !important;
        margin: 0.2rem;
        text-align: center;
        padding: 0.1rem;
        margin-top: 0;
        font-size: clamp(20px, 1.5rem, 3vw);
        color: #fff;
    }

    #subtitle {
        float: none;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
}
/* for events */

.learning {
  background-image: url(https://cdn.pixabay.com/photo/2014/05/03/00/35/wood-336589_960_720.jpg);
  background-size: contain;
  background-position: center;
}

.learning h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  font-size: clamp(30px, 2.5rem, 5vw);
  padding: 0.5rem;
}

.learning .timeline {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.learning .timeline::after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: white;
  left: 50%;
  margin-left: -3px;
}

@media (max-width: 600px) {
  .learning .timeline::after {
    left: 0%;
  }
}

.learning .timeline .container {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  top: 0vh;
  display: block;
  overflow: hidden;
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

@media (max-width: 600px) {
  .learning .timeline .container {
    width: 100%;
  }
}

.learning .timeline .container::after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  content: '';
  position: absolute;
  top: 15px;
  right: -17px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #ff9f55;
}

@media (max-width: 600px) {
  .learning .timeline .container::after {
    left: -17px;
  }
}

.learning .timeline .container .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px #005DFF;
          box-shadow: 0px 0px 10px #005DFF;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border-radius: 6px;
  color: #fff;
}

.learning .timeline .container .content h2 {
  font-family: "Montserrat", sans-serif;
}

.learning .timeline .container .content p {
  font-family: "Montserrat", sans-serif;
}

.learning .timeline .container .content img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.learning .timeline .left {
    box-sizing: border-box;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  left: 0;
}
#event-date{
    font-size: 0.8rem;
}
.learning .timeline .left::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  right: 30px;
  border: 10px solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

@media (max-width: 600px) {
  .learning .timeline .left::before {
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 22px;
    left: 30px;
    border: 10px solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }
}

.learning .timeline .right {
    box-sizing: border-box;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  left: 50%;
}
#details{
    margin: 0.4rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-weight: 400;
    background-color: #fff;
    padding: 0.5rem 1.5rem  0.5rem 1.5rem;
    border-radius: 55px;
        box-shadow: 1px 1px 10px #000;
    margin-top: 100vh !important;
}
@media (max-width: 600px) {
  .learning .timeline .right {
    left: 0;
  }
}

.learning .timeline .right::after {
  left: -16px;
}

.learning .timeline .right::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  left: 30px;
  border: 10px solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}
/* for gallery */
.crt-social-icon i,
.crt-post .crt-post-footer .crt-post-share a,
.crt-widget .crt-post-username a,
.crt-widget .crt-post-fullname a {
    color: #005dff !important;
    font-family: 'Nunito', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
    height: auto;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

footer h2 {
    padding: 0.2rem;
    margin-left: 0.5rem;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

footer .copyright {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-top: 1px solid gray;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;

}

footer .info-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

iframe {
    width: 100%;
}

footer li {
    padding: 0.3rem;
    list-style: none;
    color: #fff;
    margin-left: 0.5rem;
}

footer li a {
    color: #fff;
    text-decoration: none;
}

footer li a::after {
    content: '';
    position: absolute;
}



footer li a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

footer li a::after {
    content: "";
    background: #005dff;
    position: absolute;

    z-index: -1;
    left: -5px;
    bottom: -2px;
    width: 110%;
    height: 10%;
    transition: 0.3s ease;
}

footer li a:hover::after {
    color: #fff;
    left: -5px;
    bottom: -2px;
    width: 110%;
    height: 120%;
    transition: 0.3s ease;
}

li img {
    margin-right: 0.3rem;
    width: 20px;
    padding: 0.1rem;
    padding-bottom: 0;
    transform: translateY(5px);
    object-fit: contain;
}

footer p {
    padding: 0.3rem;
    margin-left: 0.3rem;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.info-links .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:900px) {
    footer .info-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

.about-box{
    
    background-color: #006dff;
    color: #fff;
    padding: 2rem;
    margin: 3rem;
    
    margin-top: 100px;
}
.about-box p{
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}
.about-box h1{
    color: #fff;
    margin-top: 0;
}
@media (max-width:600px){
    .about-box{
        margin: 1.5rem;
        padding: 1rem;
        margin-top: 100px;
        border-radius: 15px !important;
    }
}