@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #006dff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005dff; 
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav {
    display: grid;
    height: 80px;
    margin-top: 0px;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    position: fixed;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(74, 144, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 100;
}

nav .logo {
    padding: 0.5rem;
    height: 70px;
    width: 60px;
    overflow: hidden;
}

nav .logo img {
    height: 66px;
    object-fit: cover;

}

@media (max-width:700px) {
    nav {
        height: 70px;
    }

    nav .logo {
        width: 55px;
        height: 60px;
    }

    nav .logo img {
        height: 55px;
        width: auto;
        object-fit: cover;
    }
}

nav ul {
    margin: 0;
    padding: 0.5rem;
    top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    float: right;
    max-width: 90%;
}

nav .menu-btn {
    top: 0.5%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    display: none;
}
nav ul li ul{
    background-color: white;
    position: absolute;
    z-index: 10000;
    right: 10%;
    width: auto;
clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition:all 0.7s ease;
}
nav ul li ul li{
    cursor: pointer;
}
nav ul li ul li:hover{
    background: #005dff;
    color: #fff;
}
nav ul li ul li:hover a{
    color: #fff;
}
ul li ul li a{
    color: #005dff;

}
#closebtn{

    all: initial;
    cursor: pointer;
    width: auto;
    padding:0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

}
#closebtn:hover{
    border-radius: 20px;
    background-color: #005dff;
    color: #fff;
}
@media(max-width:800px) {
    nav .menu-btn {
        display: flex;
    }

    nav .logo {
        padding-top: 0.3rem;

    }
}

.menu-btn .burger1 {
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #fff;
}

.burger1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: 10px;
    background-color: #fff;
}

.burger1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: -10px;
    background-color: #fff;
}

@media (max-width:700px) {

    .menu-btn .burger1 {
        width: 35px;

    }


    .burger1::after {
        width: 35px;
        top: -8px;
    }

    .burger1::before {
        width: 35px;
        top: 8px;
    }
}

@media (max-width:800px) {
    nav ul {
        display: none;
    }
}

nav ul li {
    box-sizing: border-box;
    display: inline;
    padding: 0.4rem;
     margin-right: 0.8rem;
    font-size: clamp(14px, 1.2rem, 20px);
    border-radius: 0px;
    transition: 0.4s ease;
    font-family: 'Open Sans', sans-serif;

}

.active {
    border: 2px solid #fff;
}

nav ul li:hover {
    background-color: #fff;
    transition: 0.5s ease;
    border-radius: 50px;

}

ul li:hover a {
    color: #005dff;
}

ul li a {
    box-sizing: border-box;
    display: inline;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(14px, 1.2rem, 20px);
    border-radius: 0px;
    transition: 0.4s ease;
    text-decoration: none;
    color: #fff;

}


.menu-overlay {
    top: 0;
    clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);

    -webkit-clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff6bb;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.menu-overlay #close {
    font-size: clamp(30px, 5vw, 10vw);
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    z-index: 100;
}

@media (min-width: 840px) {
    .menu-overlay #close {
        top: 20px;
        right: 75px;
    }
}

.menu-overlay ul {
    list-style-type: none;
}

.menu-overlay ul li {
    opacity: 1;
    text-align: center;
    margin-right: 10px;
    padding: 1rem;
    font-size: clamp(30px, 4vw, 70px);
    font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 1rem;
    width: 300px;
    text-decoration: none;
    color: #003899;
}

.menu-overlay ul a:hover {
    color: white;
    background-color: #003899;
    border-radius: 0.2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1{
    position: relative;
    margin-top: 80px;
    text-align: center;
    color: gray;
    box-sizing: border-box;
    padding: 0.3rem;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(30px, 2.5rem, 6vw);
}
.facilities{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.facilities .card{
    height: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    border:0;
}
.x{
background-image: linear-gradient(30deg, #4481eb 0%, #04befe 100%);
}
.x1{
background-image: linear-gradient(-130deg, #4481eb 0%, #04befe 100%);
}

.card h2{
    margin: 0;
    padding: 0.2rem;
    font-size: clamp(25px, 1.5rem, 4vw);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fff;
}
.card p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 0.9rem;
}
@media (max-width:800px){
    .facilities{
        grid-template-columns: repeat(2, 1fr);
    }
}@media (max-width:700px){
    .facilities{
        grid-template-columns: repeat(1, 1fr);
    }
}

footer{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
    height: auto;
    width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

footer h2{
    padding: 0.2rem;
    margin-left: 0.5rem;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
footer .copyright{
    display: flex;
    align-items:center;
    position: relative;
    justify-content: center;
    border-top: 1px solid gray;
    height: 60px;
    width: 100%;
    text-align: center;   
    color: white;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    
}
footer .info-links{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
iframe{
    width: 100%;
}
footer li{
    padding: 0.3rem;
    list-style: none;
    color: #fff;
    margin-left: 0.5rem;
}
footer li a{
    color: #fff;
    text-decoration: none;
}
footer li a::after{
    content: '';
    position: absolute;
}



footer li a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
    z-index: 1;
}
footer li a::after {
  content: "";
  background: #005dff;
  position: absolute;
 
  z-index: -1;
   left: -5px;
  bottom: -2px;
  width: 110%;
  height: 10%;   
  transition: 0.3s ease;
}
footer li a:hover::after {
    color: #fff;
  left: -5px;
  bottom: -2px;
  width: 110%;
  height: 120%;
    transition: 0.3s ease;
}

li img{
    margin-right: 0.3rem;
    width: 20px;
    padding: 0.1rem;
    padding-bottom: 0;
    transform: translateY(5px);
    object-fit: contain;
}
footer p{
    padding: 0.3rem;
    margin-left: 0.3rem;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}
.info-links .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width:900px){
    footer .info-links{
        grid-template-columns: repeat(1,1fr);
    }
}
/* 
for admission.html */
.procedure{
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    line-height:2rem;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    
}
#highlight{
    background-color: yellow;
    font-weight: bold;
}
