@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500&display=swap');


::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #006dff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005dff; 
}
h1 {
    text-align: center;
    margin: 0;
    color: #005DFF;
    box-sizing: border-box;
    padding: 0.3rem;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(30px, 2.5rem, 6vw);
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav {
    display: grid;
    height: 80px;
    margin-top: 0px;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    position: fixed;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(74, 144, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 100;
}

nav .logo {
    padding: 0.5rem;
    height: 70px;
    width: 60px;
    overflow: hidden;
}

nav .logo img {
    height: 66px;
    object-fit: cover;

}

@media (max-width:700px) {
    nav {
        height: 70px;
    }

    nav .logo {
        width: 55px;
        height: 60px;
    }

    nav .logo img {
        height: 55px;
        width: auto;
        object-fit: cover;
    }
}

nav ul {
    margin: 0;
    padding: 0.5rem;
    top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    float: right;
    max-width: 90%;
}

nav .menu-btn {
    top: 0.5%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    display: none;
}
nav ul li ul{
    background-color: white;
    position: absolute;
    z-index: 10000;
    right: 10%;
    width: auto;
clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition:all 0.7s ease;
}
nav ul li ul li{
    cursor: pointer;
}
nav ul li ul li:hover{
    background: #005dff;
    color: #fff;
}
nav ul li ul li:hover a{
    color: #fff;
}
ul li ul li a{
    color: #005dff;

}
#closebtn{

    all: initial;
    cursor: pointer;
    width: auto;
    padding:0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

}
#closebtn:hover{
    border-radius: 20px;
    background-color: #005dff;
    color: #fff;
}
@media(max-width:800px) {
    nav .menu-btn {
        display: flex;
    }

    nav .logo {
        padding-top: 0.3rem;

    }
}

.menu-btn .burger1 {
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #fff;
}

.burger1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: 10px;
    background-color: #fff;
}

.burger1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    top: -10px;
    background-color: #fff;
}

@media (max-width:700px) {

    .menu-btn .burger1 {
        width: 35px;

    }


    .burger1::after {
        width: 35px;
        top: -8px;
    }

    .burger1::before {
        width: 35px;
        top: 8px;
    }
}

@media (max-width:800px) {
    nav ul {
        display: none;
    }
}

nav ul li {
    box-sizing: border-box;
    display: inline;
    margin: 0.5rem;
    padding: 0.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: clamp(14px, 1.2rem, 20px);
    border-radius: 0px;
    transition: 0.4s ease;

}

.active {
    border: 2px solid #fff;
}

nav ul li:hover {
    background-color: #fff;
    transition: 0.5s ease;
    border-radius: 50px;

}

ul li:hover a {
    color: #005dff;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}


.menu-overlay {
    top: 0;
    clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);

    -webkit-clip-path: polygon(70% 0, 70% 0, 44% 100%, 44% 100%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff6bb;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.menu-overlay #close {
    font-size: clamp(30px, 5vw, 10vw);
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    z-index: 100;
}

@media (min-width: 840px) {
    .menu-overlay #close {
        top: 20px;
        right: 75px;
    }
}

.menu-overlay ul {
    list-style-type: none;
}

.menu-overlay ul li {
    opacity: 1;
    text-align: center;
    margin-right: 10px;
    padding: 1rem;
    font-size: clamp(30px, 4vw, 70px);
    font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 1rem;
    width: 300px;
    text-decoration: none;
    color: #003899;
}

.menu-overlay ul a:hover {
    color: white;
    background-color: #003899;
    border-radius: 0.2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.swiper-container {

    width: 100%;
    height: auto;
    box-sizing: border-box;

}

.swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container .swiper-slide img {
    height: 87vh;
    width: 100%;
    object-fit: cover;
}

.swiper-container .swiper-slide h1 {
    position: absolute;
    bottom: 5%;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
}

.speciality {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.speciality h1 {
    text-align: center;
    margin: 0;
    color: #005DFF;
    box-sizing: border-box;
    padding: 0.3rem;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(30px, 2.5rem, 6vw);
}

.speciality .card-column {
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1rem;
    overflow: hidden;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width:1000px) {
    .speciality .card-column {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:750px) {
    .speciality .card-column {
        grid-template-columns: repeat(2, 1fr);

    }

    .card .info p {
        font-size: 0.6rem;
    }
}

@media(max-width:500px) {
    .speciality .card-column {
        grid-template-columns: repeat(1, 1fr);

    }

}

.speciality .card-column .card {
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

}

.card .card-img {
    display: flex;
    justify-content: center;
}

.card img {
    width: 50%;
    height: 150px;
    object-fit: contain;
}

.card .info {
    color: #fff;
    height: auto;
    margin: 0.2rem;
    box-sizing: border-box;
}

.card .info h1 {
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: clamp(25px, 2rem, 5vw);
}

.card .info p {
    color: #fff;
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    padding: 0 1rem 0 1rem;
    ;
}

@media(max-width:750px) {
    .card {
        border-radius: 10px;
    }

    .card .info h1 {
        font-size: 1.3rem;
    }

    .card .info p {
        font-size: 0.8em;
    }
}

@media(max-width:500px) {
    .card .info h1 {
        font-size: 1.7rem;
    }

    .card .info p {
        font-size: 1rem;
    }
}

.swiper-container #student-slide {
    background-image: url(../img/background/writing-1149962_1920.jpg) !important;
    background-position: center;
    background-size: cover
}

#student-slide {
    height: 80vh !important;
}

#student-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    border: 5px solid #005dff;
    outline: none;
}

#student-name {
    position: absolute;
    margin: 1rem;
    padding: 0.5rem;
    top: 32%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#student-view {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    width: 90%;
    height: 30vh;
    padding-top: 1rem;
    font-size: 0.9rem;
    bottom: 5%;
    padding-bottom: 1rem;
    border: none;
    color: #000;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    transition: all 0.5s;
    background: rgba(0, 93, 255, 0.00);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    outline: none;

}

.heads {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 7% !important;
    overflow: visible !important;
    height: 100%;
}

.heads .info {
    margin-top: 10% !important;
}

.info a {
    float: right;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 2px solid #fff;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #005dff;
}

.info a:hover {
    transition: 0.3s ease;
    background-color: #005dff;
    color: white;
    box-shadow: -2px 2px 30px deepskyblue;
}

@media (max-width:700px) {
    .heads {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .heads .info {
        margin-top: 15% !important;
    }

}



.heads .card {
    transition:transform 0.5s !important;
    overflow: visible !important;
    transform: scale(0.9) rotate(5deg)!important;
    box-shadow: 2px 2px 20px #000;
}
.heads .card:hover{ 
    transition:transform 0.5s !important;
    transform: scale(1) rotate(0deg)!important;
}
.heads .card .info {
    margin-top: 0%;
}

.heads img {
    top: -25%;
    height: 40%;
    width: 40%;
    position: absolute;
}
@media (max-width:500px) {
    #student-view {
        bottom: 7%;
        font-size: 0.8rem;
    }

    .heads {
        margin-top: 10vh !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 15vh !important;
    }

    .heads .card {
            transform: scale(1) rotate(0deg)!important;
        margin-top: 0%;
    }
}
.social-feeds h1 {
    font-size: clamp(30px, 2.5rem, 6vw);

}

.crt-social-icon i,
.crt-post .crt-post-footer .crt-post-share a,
.crt-widget .crt-post-username a,
.crt-widget .crt-post-fullname a {
    color: #005dff !important;
    font-family: 'Nunito', sans-serif;
}

#events-slide {
    background: #005dff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

@media (max-width:700px) {
    #events-slide {
        grid-template-columns: repeat(1, 1fr);
    }
}

#events-slide .info {
    justify-content: center;
    margin: 2rem;
}

#events-slide h1 {
    all: initial !important;
    font-size: clamp(30px, 2rem, 5vw) !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600 !important;
    color: #fff !important;
    position: relative;
    line-height: 5rem !important;
}

#events-slide .info p {
    all: initial !important;
    position: relative;
    padding: 2rem;
    box-sizing: border-box !important;
    letter-spacing: 0.1rem !important;
    font-family: 'Montserrat', sans-serif !important;
    color: #fff !important;
    margin: 0 !important;
}

#events-slide img {
    height: 50vh !important;
}
footer{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
    height: auto;
    width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

footer h2{
    padding: 0.2rem;
    margin-left: 0.5rem;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
footer .copyright{
    display: flex;
    align-items:center;
    position: relative;
    justify-content: center;
    border-top: 1px solid gray;
    height: 60px;
    width: 100%;
    text-align: center;   
    color: white;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    
}
footer .info-links{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
iframe{
    width: 100%;
}
footer li{
    padding: 0.3rem;
    list-style: none;
    color: #fff;
    margin-left: 0.5rem;
}
footer li a{
    color: #fff;
    text-decoration: none;
}
footer li a::after{
    content: '';
    position: absolute;
}



footer li a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
    z-index: 1;
}
footer li a::after {
  content: "";
  background: #005dff;
  position: absolute;
 
  z-index: -1;
   left: -5px;
  bottom: -2px;
  width: 110%;
  height: 10%;   
  transition: 0.3s ease;
}
footer li a:hover::after {
    color: #fff;
  left: -5px;
  bottom: -2px;
  width: 110%;
  height: 120%;
    transition: 0.3s ease;
}

li img{
    margin-right: 0.3rem;
    width: 20px;
    padding: 0.1rem;
    padding-bottom: 0;
    transform: translateY(5px);
    object-fit: contain;
}
footer p{
    padding: 0.3rem;
    margin-left: 0.3rem;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}
.info-links .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width:900px){
    footer .info-links{
        grid-template-columns: repeat(1,1fr);
    }
}